.button{
    margin-left: 20px;
    margin-bottom: 7px;
}
.header{
margin-left: 500px
}

.input{
    margin-top: 50px;
    margin-left: 142px;
}

.mac{
    margin-left: 820px;

}

.del{
    margin-left:20px;
}

.displaylist{

}

.a{

}